USE [IslandDistributors]
GO
/****** Object:  Table [dbo].[Dim_Customer]    Script Date: 4/2/2026 2:02:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Customer](
	[CustomerKey] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NULL,
	[CustomerName] [varchar](200) NULL,
	[City] [varchar](100) NULL,
	[Status] [varchar](50) NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[IsCurrent] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Product]    Script Date: 4/2/2026 2:02:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Product](
	[ProductKey] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NULL,
	[ProductName] [varchar](200) NULL,
	[Category] [varchar](100) NULL,
	[Price] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Rep]    Script Date: 4/2/2026 2:02:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Rep](
	[RepKey] [int] IDENTITY(1,1) NOT NULL,
	[RepID] [int] NULL,
	[RepName] [varchar](200) NULL,
	[Territory] [varchar](100) NULL,
	[RouteID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[RepKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Route]    Script Date: 4/2/2026 2:02:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Route](
	[RouteKey] [int] IDENTITY(1,1) NOT NULL,
	[RouteID] [int] NULL,
	[RouteName] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[RouteKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ETL_Control]    Script Date: 4/2/2026 2:02:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ETL_Control](
	[ProcessName] [varchar](100) NULL,
	[LastLoadDate] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ETL_Log]    Script Date: 4/2/2026 2:02:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ETL_Log](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RunID] [uniqueidentifier] NULL,
	[ProcessName] [varchar](100) NULL,
	[Status] [varchar](50) NULL,
	[Message] [varchar](max) NULL,
	[StartTime] [datetime] NULL,
	[EndTime] [datetime] NULL,
	[Row_Count] [int] NULL,
	[IsError] [bit] NULL,
	[DurationSeconds] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fact_Sales]    Script Date: 4/2/2026 2:02:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fact_Sales](
	[SalesKey] [int] IDENTITY(1,1) NOT NULL,
	[CustomerKey] [int] NULL,
	[ProductKey] [int] NULL,
	[RepKey] [int] NULL,
	[RouteKey] [int] NULL,
	[OrderID] [int] NULL,
	[OrderDate] [date] NULL,
	[Quantity] [int] NULL,
	[Amount] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[SalesKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stg_Customers]    Script Date: 4/2/2026 2:02:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stg_Customers](
	[CustomerID] [int] NULL,
	[CustomerName] [varchar](200) NULL,
	[City] [varchar](100) NULL,
	[Phone] [varchar](50) NULL,
	[Status] [varchar](20) NULL,
	[CreatedDate] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stg_Error_Log]    Script Date: 4/2/2026 2:02:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stg_Error_Log](
	[TableName] [varchar](100) NULL,
	[ErrorCode] [int] NULL,
	[ErrorColumn] [int] NULL,
	[LoadDate] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stg_OrderItems]    Script Date: 4/2/2026 2:02:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stg_OrderItems](
	[ItemID] [int] NULL,
	[OrderID] [int] NULL,
	[ProductID] [int] NULL,
	[Qty] [int] NULL,
	[Price] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stg_Orders]    Script Date: 4/2/2026 2:02:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stg_Orders](
	[OrderID] [int] NULL,
	[CustomerID] [int] NULL,
	[RepID] [int] NULL,
	[OrderDate] [datetime] NULL,
	[Status] [varchar](20) NULL,
	[LastUpdated] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stg_Payments]    Script Date: 4/2/2026 2:02:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stg_Payments](
	[PaymentID] [int] NULL,
	[OrderID] [int] NULL,
	[Amount] [float] NULL,
	[Method] [varchar](50) NULL,
	[Date] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stg_Products]    Script Date: 4/2/2026 2:02:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stg_Products](
	[ProductID] [int] NULL,
	[ProductName] [varchar](200) NULL,
	[Price] [float] NULL,
	[Category] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stg_Reps]    Script Date: 4/2/2026 2:02:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stg_Reps](
	[RepID] [int] NULL,
	[RepName] [varchar](200) NULL,
	[Region] [varchar](50) NULL,
	[RouteID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stg_Returns]    Script Date: 4/2/2026 2:02:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stg_Returns](
	[ReturnID] [int] NULL,
	[OrderID] [int] NULL,
	[ProductID] [int] NULL,
	[Qty] [int] NULL,
	[ReturnDate] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stg_Routes]    Script Date: 4/2/2026 2:02:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stg_Routes](
	[RouteID] [int] NULL,
	[RouteName] [varchar](100) NULL,
	[Type] [varchar](50) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Stg_Error_Log] ADD  DEFAULT (getdate()) FOR [LoadDate]
GO
